form {
    display: inline-block;
    text-align: center;
    width: 400px;
}

.holder {
	text-align: center;
}

button {
	margin: 10px;
	background-color: #5bc880;
	color: white;
}

.item, p {
	display: inline;
	margin: 10px;
}

img {
	margin: 20px;
}

.submit-div {
  display: table;
  margin: 0 auto;
}